/*Prueba de mapeo*/

/*Bootstrap*/
@import "scss/bootstrap.scss";
/*Reset*/
@import "_reset";
/*Transiciones*/
@import "_transiciones";
/*Keyframes*/
@import "_keyframes";
/*Responsive*/
@import "_responsive";

//Mapeo
$logo: (
    ancho: 10vh,
    nombre: logo,
    cantidad: 2,
    duracion: 4s,
);

.logo{
    height: map-get($logo, ancho);
    animation-name: map-get($logo, nombre);
    animation-iteration-count: map-get($logo, cantidad);
    animation-duration: map-get($logo, duracion);
};

//Extend
.titulo {
    font-size: 3rem;
    text-align: center;
    margin-top: 1vh;
}

.tituloCuerpo{
    @extend .titulo;
    height: 4vh;
    font-size: 2rem;
}
